{{ define "title" }}Error{{ end }}
{{ define "main" }}
<main id="page" class="flex-col-l">
	<h1>{{ .Local.StatusCode }} ({{ .Local.StatusText }})</h1>
	<p>{{ .Local.Error }}</p>
	<nav>
		<a href="/">Go to home page</a>
	</nav>
</main>
{{ end }}